@media (max-width: 480px){
    body{
        font-size: 16px;
    }
    .wrapper{
        padding: 1rem;
    }
     .description{
        font-size: 0.9rem;
    }
    .job{
        font-size: 0.8rem;
        max-width: 80%;
    } 
    .about{
        .title{
            margin-bottom: 4rem;
        }
    }
}