@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}
@mixin box-shadow($value){
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
}