body{
    background: url('../img/background.jpg') repeat;
    font-family: cursive;
    font-size: 18px;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 2rem;
}
header{
    font-size: 1.5rem;
    color: $color-2-1;
    text-align: center;
    h1{
        margin: 0;
    }
}
.box{
    margin: 0 auto;
    padding: 0.3rem;
    text-align: center;
    @include border-radius(0 0 1rem 1rem);
}
.description{
    background: $color-2-2;
    color: $color-2-1;
    max-width: 480px;
    font-size: 1.2rem;
    @include box-shadow(inset 0px 8px 21px -10px rgba(0,0,0,0.6));
    .name{
        color: $color-1-4;
    }
    p{
        margin: 0.8rem 0;
    }
}
.job{
    background: $color-3-2;
    color: $color-3-1;
    max-width: 350px;
    font-size: 1.1rem;
    @include box-shadow(inset 0px 8px 8px -10px rgb(44, 40, 40));
    border: 1px solid #eee;
    p{
        margin: 0.4rem 0;
    }
}
.title{
    background: $color-4-1;
    color: $color-2-1;
    @include border-radius(0.5rem);
    max-width: 70px;
    text-align: center;
    padding: 0.5rem;
}
.about{
    margin-top: 1rem;
    .title{
        margin-bottom: 3rem;
        &::after{
            content: '';
            position: absolute;
            margin-top: 32px;
            margin-left: -48px;
            width: 0;
            height: 0;
            border-top: solid 50px #ffebc9;
            border-left: solid 28px transparent;
            border-right: solid 5px transparent;
        }
    }
    .about-text{
        background: $color-1-3;
        min-height: 90px;
          padding: 0.5rem 1rem;
        @include border-radius(1rem);
        &::before{
            content: '';
            position: absolute;
            margin-top: -57px;
            margin-left: 40px;
            width: 0;
            height: 0;
            border-bottom: solid 50px #f3f1f4;
            border-right: solid 28px transparent;
            border-left: solid 5px transparent;
        }
    }
}
.about-text, .title{
    box-shadow: 0 5px 15px 0 rgba(170, 160, 160, 0.08), 0 5px 15px 0 rgba(170, 160, 160, 0.08);
    -webkit-box-shadow: 0 5px 15px 0 rgba(170, 160, 160, 0.08), 0 5px 15px 0 rgba(170, 160, 160, 0.08);
}
.footer{
    margin-top: 1.4rem;
    .title{
        &::after{
            content: '';
            position: absolute;
            margin-top: 0px;
            margin-left: 18px;
            width: 0;
            height: 0;
            border-left: solid 50px #ffebc9;
            border-top: solid 15px transparent;
            border-bottom: solid 15px transparent;
        }
    }
    .links{
        max-width: 285px;
        min-height: 40px;
        margin: 1rem auto 0 auto;
        border-bottom: 2px dashed $color-1-4;
        padding: 0.5rem 0 0 0;
        li{
            float: left;
            list-style-type: none;
            width: 33%;
            img{
                width: 25px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .border{
        height: 5px;
        border-bottom: 2px dashed $color-1-1;
        max-width: 285px;
        margin: 0 auto;
    }
}
